.contenTarjetas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    column-gap: 10px;
  }

#toplevel_page_side-cart-woocommerce-settings{
    display: none;
}

#wcmca_edit_order_item_container{
    display: none!important;
}

.tarjetasAdmin{
background-color: #ffffff;
padding: 20px;
border-radius: 5%;
width: 300px;
display: grid;
grid-template-columns: 1fr;
margin: 20px;
justify-items: center;

}

.titleAdmin{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 800;
}

.infotarjeta{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.botonTarjetas{
    border: 2px solid;
    border-color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    background-color: black;
    color: #ffffff;
    
}

a.botonTarjetas:hover {
    background-color: #ffffff;
    color: #000000;
}

.tarjetasAdmin:hover {
    box-shadow: 12px 15px 5px 4px rgba(89,86,86,0.54);
    -webkit-box-shadow: 12px 15px 5px 4px rgba(89,86,86,0.54);
    -moz-box-shadow: 12px 15px 5px 4px rgba(89,86,86,0.54);
}